<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.huayu.springboot.demo.mapper.UserMessagesMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, title, contents, images, status, create_time, update_time
    </sql>

    <select id="getUserMessagesById" resultType="io.huayu.springboot.demo.vo.UserMessagesQueryVo">
        select
        <include refid="Base_Column_List"/>
        from user_messages where id = #{id}
    </select>

    <select id="getUserMessagesPageList" resultType="io.huayu.springboot.demo.vo.UserMessagesQueryVo">
        select
        <include refid="Base_Column_List"/>
        from user_messages
    </select>

</mapper>
